BODY
{

	/*background-color: #434388; */
	font-family: 'Roboto Mono', monospace;
    color: white;
}

h1
{
    color: #ffffff;
}

P
{
	text-shadow: 4px 4px #a5a5a5;
	line-height: 180%;
	width: 70%;
	margin-top: 2em;
	margin-bottom: 3em;
	font-size: 1.3em;
}

HR
{
	height: 1px;
	border: none;
	background-color: #ffffff;
}

TABLE
{
	/*background-image: linear-gradient(rgba(28, 28, 89, 1) 0%, rgba(28, 29, 120, 1) 50%, rgba(5, 28, 105, 1) 100%);*/
	border: 2px solid #ffffff;
	width: 80%;
	padding: 2px;
}

B
{
	font-size: 1.2em;
	border: 2px solid #ffffff;
}

I
{
	text-shadow: 8px 8px #111111;
	font-size: 1.6em;
}

A
{
    text-shadow: 4px 4px #928e8e;
	color: #180736;
}

CENTER
{
	margin-top: 24em;
}

UL
{
	float: left;
	align-content: right;
	display: table;
}

LI
{
	list-style: none;
    color:  #b6dee5;
}

A:HOVER
{
	color: #180736;
}
